In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("population-estimates-2011-2020-by-single-year-of-age-and-sex-bristol-copy.csv", delimiter = ';')

In [4]:
df.head(10)

   Year   Sex Age  Population estimate
0  2011  Male  16                 2158
1  2011  Male  19                 3657
2  2011  Male  35                 3312
3  2011  Male  39                 3146
4  2011  Male  41                 2844
5  2011  Male  52                 2351
6  2011  Male  56                 2119
7  2011  Male  58                 2027
8  2011  Male  74                 1064
9  2011  Male  75                  990

In [5]:
df.shape

(1820, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1820 entries, 0 to 1819
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 1820 non-null   int64
 1   Sex                  1820 non-null   object
 2   Age                  1820 non-null   object
 3   Population estimate  1820 non-null   int64
dtypes: int64(2), object(2)
memory usage: 57.0+ KB

In [7]:
df.isnull().sum() # Checking for null values

Year                   0
Sex                    0
Age                    0
Population estimate    0
dtype: int64

In [11]:
df.describe() # Descriptive statistics summary

              Year  Population estimate
count  1820.000000          1820.000000
mean   2015.500000          2473.516484
std       2.873071          1190.948125
min    2011.000000           271.000000
25%    2013.000000          1691.000000
50%    2015.500000          2425.500000
75%    2018.000000          2987.500000
max    2020.000000          5733.000000

In [9]:
p=df.groupby(["Age"], sort="True").head(1)
print(p)

     Year     Sex Age  Population estimate
0    2011    Male  16                 2158
1    2011    Male  19                 3657
2    2011    Male  35                 3312
3    2011    Male  39                 3146
4    2011    Male  41                 2844
..    ...     ...  ..                  ...
236  2018  Female  65                 1822
250  2011    Male  81                  796
254  2012    Male  13                 2192
288  2014    Male  42                 2943
469  2019    Male  63                 1767

[91 rows x 4 columns]

In [10]:
p.head()

   Year   Sex Age  Population estimate
0  2011  Male  16                 2158
1  2011  Male  19                 3657
2  2011  Male  35                 3312
3  2011  Male  39                 3146
4  2011  Male  41                 2844