In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
traffic_raw_count=pd.read_excel('C:/Users/ritun/Desktop/MSc Data Science University of Bristol/Data Science Mini Project/Traffic Datasets/Bristol Traffic Data/Raw counts(Vehicle counts recorded at the count point).xlsx')

In [5]:
traffic_raw_count.drop('Unnamed: 0', inplace=True, axis=1)

In [6]:
traffic_raw_count

,count_point_id,direction_of_travel,year,count_date,hour,region_id,region_name,local_authority_id,local_authority_name,road_name,road_type,start_junction_road_name,end_junction_road_name,easting,northing,latitude,longitude,link_length_km,link_length_miles,pedal_cycles,two_wheeled_motor_vehicles,cars_and_taxis,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
0,946787,N,2014,2014-05-02,7,1,South West,144,"Bristol, City of",U,Minor,NaN,NaN,357980,168133,51.410654,-2.605557,NaN,NaN,2,0,9,0,2,0,0,0,0,0,0,0,11
1,946787,N,2014,2014-05-02,8,1,South West,144,"Bristol, City of",U,Minor,NaN,NaN,357980,168133,51.410654,-2.605557,NaN,NaN,1,0,15,0,2,0,0,0,0,0,0,0,17
2,946787,N,2014,2014-05-02,9,1,South West,144,"Bristol, City of",U,Minor,NaN,NaN,357980,168133,51.410654,-2.605557,NaN,NaN,0,0,21,0,0,0,0,0,0,0,0,0,21
3,946787,N,2014,2014-05-02,10,1,South West,144,"Bristol, City of",U,Minor,NaN,NaN,357980,168133,51.410654,-2.605557,NaN,NaN,0,0,13,0,1,0,0,0,0,0,0,0,14
4,946787,N,2014,2014-05-02,11,1,South West,144,"Bristol, City of",U,Minor,NaN,NaN,357980,168133,51.410654,-2.605557,NaN,NaN,1,0,17,0,1,1,0,0,0,0,0,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9079,801247,N,2020,2020-10-14,14,1,South West,144,"Bristol, City of",C,Minor,NaN,NaN,356929,168026,51.409611,-2.620655,NaN,NaN,2,1,266,0,71,3,1,0,0,0,0,4,342
9080,801247,N,2020,2020-10-14,15,1,South West,144,"Bristol, City of",C,Minor,NaN,NaN,356929,168026,51.409611,-2.620655,NaN,NaN,1,1,325,1,77,2,1,0,0,0,0,3,407
9081,801247,N,2020,2020-10-14,16,1,South West,144,"Bristol, City of",C,Minor,NaN,NaN,356929,168026,51.409611,-2.620655,NaN,NaN,3,1,268,0,8,4,0,0,0,0,0,4,281
9082,801247,N,2020,2020-10-14,17,1,South West,144,"Bristol, City of",C,Minor,NaN,NaN,356929,168026,51.409611,-2.620655,NaN,NaN,1,2,296,0,73,1,0,0,0,0,0,1,372
9083,801247,N,2020,2020-10-14,18,1,South West,144,"Bristol, City of",C,Minor,NaN,NaN,356929,168026,51.409611,-2.620655,NaN,NaN,5,0,235,0,52,0,0,0,0,0,0,0,287

Checking info about the dataset:

In [7]:
traffic_raw_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9084 entries, 0 to 9083
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   count_point_id                9084 non-null   int64
 1   direction_of_travel           9084 non-null   object
 2   year                          9084 non-null   int64
 3   count_date                    9084 non-null   datetime64[ns]
 4   hour                          9084 non-null   int64
 5   region_id                     9084 non-null   int64
 6   region_name                   9084 non-null   object
 7   local_authority_id            9084 non-null   int64
 8   local_authority_name          9084 non-null   object
 9   road_name                     9084 non-null   object
 10  road_type                     9084 non-null   object
 11  start_junction_road_name      2880 non-null   object
 12  end_junction_road_name        2880 non-null   object
 13  easting                       9084 non-null   int64
 14  northing                      9084 non-null   int64
 15  latitude                      9084 non-null   float64
 16  longitude                     9084 non-null   float64
 17  link_length_km                2880 non-null   float64
 18  link_length_miles             2880 non-null   float64
 19  pedal_cycles                  9084 non-null   int64
 20  two_wheeled_motor_vehicles    9084 non-null   int64
 21  cars_and_taxis                9084 non-null   int64
 22  buses_and_coaches             9084 non-null   int64
 23  lgvs                          9084 non-null   int64
 24  hgvs_2_rigid_axle             9084 non-null   int64
 25  hgvs_3_rigid_axle             9084 non-null   int64
 26  hgvs_4_or_more_rigid_axle     9084 non-null   int64
 27  hgvs_3_or_4_articulated_axle  9084 non-null   int64
 28  hgvs_5_articulated_axle       9084 non-null   int64
 29  hgvs_6_articulated_axle       9084 non-null   int64
 30  all_hgvs                      9084 non-null   int64
 31  all_motor_vehicles            9084 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(20), object(7)
memory usage: 2.2+ MB

Checking null values:

In [8]:
traffic_raw_count.isnull().any()

count_point_id                  False
direction_of_travel             False
year                            False
count_date                      False
hour                            False
region_id                       False
region_name                     False
local_authority_id              False
local_authority_name            False
road_name                       False
road_type                       False
start_junction_road_name         True
end_junction_road_name           True
easting                         False
northing                        False
latitude                        False
longitude                       False
link_length_km                   True
link_length_miles                True
pedal_cycles                    False
two_wheeled_motor_vehicles      False
cars_and_taxis                  False
buses_and_coaches               False
lgvs                            False
hgvs_2_rigid_axle               False
hgvs_3_rigid_axle               False
hgvs_4_or_more_rigid_axle       False
hgvs_3_or_4_articulated_axle    False
hgvs_5_articulated_axle         False
hgvs_6_articulated_axle         False
all_hgvs                        False
all_motor_vehicles              False
dtype: bool

Checking columns:

In [9]:
traffic_raw_count.columns

Index(['count_point_id', 'direction_of_travel', 'year', 'count_date', 'hour',
       'region_id', 'region_name', 'local_authority_id',
       'local_authority_name', 'road_name', 'road_type',
       'start_junction_road_name', 'end_junction_road_name', 'easting',
       'northing', 'latitude', 'longitude', 'link_length_km',
       'link_length_miles', 'pedal_cycles', 'two_wheeled_motor_vehicles',
       'cars_and_taxis', 'buses_and_coaches', 'lgvs', 'hgvs_2_rigid_axle',
       'hgvs_3_rigid_axle', 'hgvs_4_or_more_rigid_axle',
       'hgvs_3_or_4_articulated_axle', 'hgvs_5_articulated_axle',
       'hgvs_6_articulated_axle', 'all_hgvs', 'all_motor_vehicles'],
      dtype='object')

Checking for Duplicates:

In [10]:
traffic_raw_count.duplicated().any()

False

Exporting the data as CSV:

In [11]:
#traffic_raw_count.to_csv("C:/Users/ritun/Desktop/MSc Data Science University of Bristol/Data Science Mini Project/CLEANED DATA/Traffic Data/traffic_raw_count_cleaned.csv")

In [ ]:
#BREAK

In [ ]:
#BREAK

EXPLORATORY DATA ANALYSIS:

In [8]:
traffic_raw_count.groupby('count_date').count()

,count_point_id,direction_of_travel,year,hour,region_id,region_name,local_authority_id,local_authority_name,road_name,road_type,start_junction_road_name,end_junction_road_name,easting,northing,latitude,longitude,link_length_km,link_length_miles,pedal_cycles,two_wheeled_motor_vehicles,cars_and_taxis,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
count_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2014-05-02,48,48,48,48,48,48,48,48,48,48,0,0,48,48,48,48,0,0,48,48,48,48,48,48,48,48,48,48,48,48,48
2014-05-06,24,24,24,24,24,24,24,24,24,24,0,0,24,24,24,24,0,0,24,24,24,24,24,24,24,24,24,24,24,24,24
2014-05-07,48,48,48,48,48,48,48,48,48,48,0,0,48,48,48,48,0,0,48,48,48,48,48,48,48,48,48,48,48,48,48
2014-05-08,24,24,24,24,24,24,24,24,24,24,0,0,24,24,24,24,0,0,24,24,24,24,24,24,24,24,24,24,24,24,24
2014-05-12,24,24,24,24,24,24,24,24,24,24,0,0,24,24,24,24,0,0,24,24,24,24,24,24,24,24,24,24,24,24,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-23,24,24,24,24,24,24,24,24,24,24,0,0,24,24,24,24,0,0,24,24,24,24,24,24,24,24,24,24,24,24,24
2020-09-25,24,24,24,24,24,24,24,24,24,24,0,0,24,24,24,24,0,0,24,24,24,24,24,24,24,24,24,24,24,24,24
2020-10-02,24,24,24,24,24,24,24,24,24,24,0,0,24,24,24,24,0,0,24,24,24,24,24,24,24,24,24,24,24,24,24
2020-10-08,24,24,24,24,24,24,24,24,24,24,0,0,24,24,24,24,0,0,24,24,24,24,24,24,24,24,24,24,24,24,24
2020-10-14,24,24,24,24,24,24,24,24,24,24,0,0,24,24,24,24,0,0,24,24,24,24,24,24,24,24,24,24,24,24,24

In [9]:
pd.to_datetime(traffic_raw_count['count_date'].unique()).sort_values().tolist()

[Timestamp('2014-05-02 00:00:00'),
 Timestamp('2014-05-06 00:00:00'),
 Timestamp('2014-05-07 00:00:00'),
 Timestamp('2014-05-08 00:00:00'),
 Timestamp('2014-05-12 00:00:00'),
 Timestamp('2014-05-13 00:00:00'),
 Timestamp('2014-05-15 00:00:00'),
 Timestamp('2014-05-16 00:00:00'),
 Timestamp('2014-05-19 00:00:00'),
 Timestamp('2014-05-20 00:00:00'),
 Timestamp('2014-05-23 00:00:00'),
 Timestamp('2014-06-02 00:00:00'),
 Timestamp('2014-06-03 00:00:00'),
 Timestamp('2014-06-09 00:00:00'),
 Timestamp('2014-06-10 00:00:00'),
 Timestamp('2014-06-11 00:00:00'),
 Timestamp('2014-06-13 00:00:00'),
 Timestamp('2014-06-16 00:00:00'),
 Timestamp('2014-06-18 00:00:00'),
 Timestamp('2014-06-20 00:00:00'),
 Timestamp('2014-06-26 00:00:00'),
 Timestamp('2014-06-27 00:00:00'),
 Timestamp('2014-06-30 00:00:00'),
 Timestamp('2014-07-02 00:00:00'),
 Timestamp('2014-07-03 00:00:00'),
 Timestamp('2014-09-05 00:00:00'),
 Timestamp('2014-09-08 00:00:00'),
 Timestamp('2014-09-12 00:00:00'),
 Timestamp('2014-09-16 00:00:00'),
 Timestamp('2014-09-17 00:00:00'),
 Timestamp('2014-09-19 00:00:00'),
 Timestamp('2014-09-24 00:00:00'),
 Timestamp('2014-09-25 00:00:00'),
 Timestamp('2014-09-30 00:00:00'),
 Timestamp('2014-10-06 00:00:00'),
 Timestamp('2014-10-07 00:00:00'),
 Timestamp('2014-10-08 00:00:00'),
 Timestamp('2014-10-09 00:00:00'),
 Timestamp('2014-10-10 00:00:00'),
 Timestamp('2014-10-13 00:00:00'),
 Timestamp('2014-10-17 00:00:00'),
 Timestamp('2014-10-20 00:00:00'),
 Timestamp('2014-10-23 00:00:00'),
 Timestamp('2015-03-25 00:00:00'),
 Timestamp('2015-03-26 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-06-01 00:00:00'),
 Timestamp('2015-06-03 00:00:00'),
 Timestamp('2015-06-08 00:00:00'),
 Timestamp('2015-06-09 00:00:00'),
 Timestamp('2015-06-10 00:00:00'),
 Timestamp('2015-06-12 00:00:00'),
 Timestamp('2015-06-15 00:00:00'),
 Timestamp('2015-06-17 00:00:00'),
 Timestamp('2015-06-18 00:00:00'),
 Timestamp('2015-06-26 00:00:00'),
 Timestamp('2015-07-02 00:00:00'),
 Timestamp('2015-07-06 00:00:00'),
 Timestamp('2015-09-09 00:00:00'),
 Timestamp('2015-09-11 00:00:00'),
 Timestamp('2015-09-14 00:00:00'),
 Timestamp('2015-09-18 00:00:00'),
 Timestamp('2015-09-22 00:00:00'),
 Timestamp('2015-09-25 00:00:00'),
 Timestamp('2015-10-01 00:00:00'),
 Timestamp('2015-10-05 00:00:00'),
 Timestamp('2015-10-08 00:00:00'),
 Timestamp('2015-10-09 00:00:00'),
 Timestamp('2015-10-12 00:00:00'),
 Timestamp('2015-10-13 00:00:00'),
 Timestamp('2015-10-14 00:00:00'),
 Timestamp('2015-10-15 00:00:00'),
 Timestamp('2015-10-16 00:00:00'),
 Timestamp('2015-10-19 00:00:00'),
 Timestamp('2016-03-23 00:00:00'),
 Timestamp('2016-03-24 00:00:00'),
 Timestamp('2016-04-11 00:00:00'),
 Timestamp('2016-04-12 00:00:00'),
 Timestamp('2016-04-14 00:00:00'),
 Timestamp('2016-04-15 00:00:00'),
 Timestamp('2016-04-18 00:00:00'),
 Timestamp('2016-04-22 00:00:00'),
 Timestamp('2016-04-29 00:00:00'),
 Timestamp('2016-05-03 00:00:00'),
 Timestamp('2016-05-04 00:00:00'),
 Timestamp('2016-05-09 00:00:00'),
 Timestamp('2016-05-12 00:00:00'),
 Timestamp('2016-05-16 00:00:00'),
 Timestamp('2016-05-17 00:00:00'),
 Timestamp('2016-05-20 00:00:00'),
 Timestamp('2016-05-23 00:00:00'),
 Timestamp('2016-05-25 00:00:00'),
 Timestamp('2016-06-06 00:00:00'),
 Timestamp('2016-06-07 00:00:00'),
 Timestamp('2016-06-08 00:00:00'),
 Timestamp('2016-06-10 00:00:00'),
 Timestamp('2016-06-13 00:00:00'),
 Timestamp('2016-06-15 00:00:00'),
 Timestamp('2016-06-24 00:00:00'),
 Timestamp('2016-06-30 00:00:00'),
 Timestamp('2016-07-06 00:00:00'),
 Timestamp('2016-09-09 00:00:00'),
 Timestamp('2016-09-12 00:00:00'),
 Timestamp('2016-09-13 00:00:00'),
 Timestamp('2016-09-16 00:00:00'),
 Timestamp('2016-09-21 00:00:00'),
 Timestamp('2016-09-23 00:00:00'),
 Timestamp('2016-10-10 00:00:00'),
 Timestamp('2016-10-12 00:00:00'),
 Timestamp('2016-10-14 00:00:00'),
 Timestamp('2016-10-17 00:00:00'),
 Timestamp('2016-10-18 00:00:00'),
 Timestamp('2016-10-21 00:00:00'),
 Timestamp('2016-10-31 00:00:00'),
 Timestamp('2017-03-17 00:00:00'),
 Timestamp('2017-03-27 00:00:00'),
 Timestamp('2017-03-29 00:00:00'),
 Timestamp('2017-03-30 00:00:00'),
 Timestamp('2017-04-25 00:00:00'),
 Timestamp('2017-04-26 00:00:00'),
 Timestamp('2017-04-28 00:00:00'),
 Timestamp('2017-05-02 00:00:00'),
 Timestamp('2017-05-05 00:00:00'),
 Timestamp('2017-05-08 00:00:00'),
 Timestamp('2017-05-09 00:00:00'),
 Timestamp('2017-05-10 00:00:00'),
 Timestamp('2017-05-11 00:00:00'),
 Timestamp('2017-05-12 00:00:00'),
 Timestamp('2017-05-15 00:00:00'),
 Timestamp('2017-05-18 00:00:00'),
 Timestamp('2017-05-19 00:00:00'),
 Timestamp('2017-05-22 00:00:00'),
 Timestamp('2017-05-23 00:00:00'),
 Timestamp('2017-05-25 00:00:00'),
 Timestamp('2017-06-05 00:00:00'),
 Timestamp('2017-06-06 00:00:00'),
 Timestamp('2017-06-12 00:00:00'),
 Timestamp('2017-06-13 00:00:00'),
 Timestamp('2017-06-14 00:00:00'),
 Timestamp('2017-06-16 00:00:00'),
 Timestamp('2017-06-19 00:00:00'),
 Timestamp('2017-06-30 00:00:00'),
 Timestamp('2017-07-04 00:00:00'),
 Timestamp('2017-07-06 00:00:00'),
 Timestamp('2017-07-07 00:00:00'),
 Timestamp('2017-07-11 00:00:00'),
 Timestamp('2017-07-12 00:00:00'),
 Timestamp('2017-09-06 00:00:00'),
 Timestamp('2017-09-07 00:00:00'),
 Timestamp('2017-09-08 00:00:00'),
 Timestamp('2017-09-11 00:00:00'),
 Timestamp('2017-09-14 00:00:00'),
 Timestamp('2017-09-15 00:00:00'),
 Timestamp('2017-09-19 00:00:00'),
 Timestamp('2017-09-22 00:00:00'),
 Timestamp('2017-09-26 00:00:00'),
 Timestamp('2017-09-27 00:00:00'),
 Timestamp('2017-10-09 00:00:00'),
 Timestamp('2017-10-10 00:00:00'),
 Timestamp('2017-10-11 00:00:00'),
 Timestamp('2017-10-12 00:00:00'),
 Timestamp('2017-10-13 00:00:00'),
 Timestamp('2017-10-20 00:00:00'),
 Timestamp('2017-10-30 00:00:00'),
 Timestamp('2018-03-21 00:00:00'),
 Timestamp('2018-03-22 00:00:00'),
 Timestamp('2018-04-16 00:00:00'),
 Timestamp('2018-04-17 00:00:00'),
 Timestamp('2018-04-18 00:00:00'),
 Timestamp('2018-04-20 00:00:00'),
 Timestamp('2018-04-26 00:00:00'),
 Timestamp('2018-05-01 00:00:00'),
 Timestamp('2018-05-04 00:00:00'),
 Timestamp('2018-05-08 00:00:00'),
 Timestamp('2018-05-09 00:00:00'),
 Timestamp('2018-05-17 00:00:00'),
 Timestamp('2018-05-18 00:00:00'),
 Timestamp('2018-05-21 00:00:00'),
 Timestamp('2018-05-22 00:00:00'),
 Timestamp('2018-05-23 00:00:00'),
 Timestamp('2018-05-24 00:00:00'),
 Timestamp('2018-06-04 00:00:00'),
 Timestamp('2018-06-06 00:00:00'),
 Timestamp('2018-06-11 00:00:00'),
 Timestamp('2018-06-12 00:00:00'),
 Timestamp('2018-06-13 00:00:00'),
 Timestamp('2018-06-15 00:00:00'),
 Timestamp('2018-06-18 00:00:00'),
 Timestamp('2018-06-20 00:00:00'),
 Timestamp('2018-06-27 00:00:00'),
 Timestamp('2018-06-28 00:00:00'),
 Timestamp('2018-06-29 00:00:00'),
 Timestamp('2018-07-03 00:00:00'),
 Timestamp('2018-07-05 00:00:00'),
 Timestamp('2018-07-06 00:00:00'),
 Timestamp('2018-07-09 00:00:00'),
 Timestamp('2018-07-10 00:00:00'),
 Timestamp('2018-07-12 00:00:00'),
 Timestamp('2018-09-06 00:00:00'),
 Timestamp('2018-09-07 00:00:00'),
 Timestamp('2018-09-10 00:00:00'),
 Timestamp('2018-09-14 00:00:00'),
 Timestamp('2018-09-17 00:00:00'),
 Timestamp('2018-09-20 00:00:00'),
 Timestamp('2018-09-21 00:00:00'),
 Timestamp('2018-10-03 00:00:00'),
 Timestamp('2018-10-04 00:00:00'),
 Timestamp('2018-10-05 00:00:00'),
 Timestamp('2018-10-08 00:00:00'),
 Timestamp('2018-10-10 00:00:00'),
 Timestamp('2018-10-12 00:00:00'),
 Timestamp('2018-10-15 00:00:00'),
 Timestamp('2018-10-16 00:00:00'),
 Timestamp('2018-10-17 00:00:00'),
 Timestamp('2018-10-18 00:00:00'),
 Timestamp('2018-10-19 00:00:00'),
 Timestamp('2018-10-29 00:00:00'),
 Timestamp('2019-03-15 00:00:00'),
 Timestamp('2019-03-20 00:00:00'),
 Timestamp('2019-03-27 00:00:00'),
 Timestamp('2019-03-28 00:00:00'),
 Timestamp('2019-03-29 00:00:00'),
 Timestamp('2019-04-03 00:00:00'),
 Timestamp('2019-04-05 00:00:00'),
 Timestamp('2019-04-29 00:00:00'),
 Timestamp('2019-04-30 00:00:00'),
 Timestamp('2019-05-09 00:00:00'),
 Timestamp('2019-05-10 00:00:00'),
 Timestamp('2019-05-14 00:00:00'),
 Timestamp('2019-05-15 00:00:00'),
 Timestamp('2019-05-23 00:00:00'),
 Timestamp('2019-06-03 00:00:00'),
 Timestamp('2019-06-04 00:00:00'),
 Timestamp('2019-06-05 00:00:00'),
 Timestamp('2019-06-10 00:00:00'),
 Timestamp('2019-06-17 00:00:00'),
 Timestamp('2019-06-18 00:00:00'),
 Timestamp('2019-06-19 00:00:00'),
 Timestamp('2019-06-21 00:00:00'),
 Timestamp('2019-06-24 00:00:00'),
 Timestamp('2019-06-26 00:00:00'),
 Timestamp('2019-07-02 00:00:00'),
 Timestamp('2019-07-05 00:00:00'),
 Timestamp('2019-07-09 00:00:00'),
 Timestamp('2019-07-10 00:00:00'),
 Timestamp('2019-07-11 00:00:00'),
 Timestamp('2019-07-15 00:00:00'),
 Timestamp('2019-07-17 00:00:00'),
 Timestamp('2019-07-18 00:00:00'),
 Timestamp('2019-09-05 00:00:00'),
 Timestamp('2019-09-06 00:00:00'),
 Timestamp('2019-09-09 00:00:00'),
 Timestamp('2019-09-11 00:00:00'),
 Timestamp('2019-09-12 00:00:00'),
 Timestamp('2019-09-13 00:00:00'),
 Timestamp('2019-09-18 00:00:00'),
 Timestamp('2019-09-23 00:00:00'),
 Timestamp('2019-09-24 00:00:00'),
 Timestamp('2019-09-25 00:00:00'),
 Timestamp('2019-10-01 00:00:00'),
 Timestamp('2019-10-04 00:00:00'),
 Timestamp('2019-10-08 00:00:00'),
 Timestamp('2019-10-09 00:00:00'),
 Timestamp('2019-10-11 00:00:00'),
 Timestamp('2019-10-18 00:00:00'),
 Timestamp('2019-10-21 00:00:00'),
 Timestamp('2020-04-23 00:00:00'),
 Timestamp('2020-04-27 00:00:00'),
 Timestamp('2020-04-29 00:00:00'),
 Timestamp('2020-05-01 00:00:00'),
 Timestamp('2020-05-05 00:00:00'),
 Timestamp('2020-05-06 00:00:00'),
 Timestamp('2020-05-12 00:00:00'),
 Timestamp('2020-05-13 00:00:00'),
 Timestamp('2020-05-18 00:00:00'),
 Timestamp('2020-05-19 00:00:00'),
 Timestamp('2020-06-01 00:00:00'),
 Timestamp('2020-06-02 00:00:00'),
 Timestamp('2020-06-03 00:00:00'),
 Timestamp('2020-06-08 00:00:00'),
 Timestamp('2020-06-09 00:00:00'),
 Timestamp('2020-06-10 00:00:00'),
 Timestamp('2020-06-11 00:00:00'),
 Timestamp('2020-06-12 00:00:00'),
 Timestamp('2020-06-15 00:00:00'),
 Timestamp('2020-06-22 00:00:00'),
 Timestamp('2020-06-30 00:00:00'),
 Timestamp('2020-07-01 00:00:00'),
 Timestamp('2020-07-03 00:00:00'),
 Timestamp('2020-07-08 00:00:00'),
 Timestamp('2020-07-09 00:00:00'),
 Timestamp('2020-07-10 00:00:00'),
 Timestamp('2020-07-13 00:00:00'),
 Timestamp('2020-07-15 00:00:00'),
 Timestamp('2020-07-16 00:00:00'),
 Timestamp('2020-07-17 00:00:00'),
 Timestamp('2020-09-03 00:00:00'),
 Timestamp('2020-09-04 00:00:00'),
 Timestamp('2020-09-09 00:00:00'),
 Timestamp('2020-09-10 00:00:00'),
 Timestamp('2020-09-11 00:00:00'),
 Timestamp('2020-09-22 00:00:00'),
 Timestamp('2020-09-23 00:00:00'),
 Timestamp('2020-09-25 00:00:00'),
 Timestamp('2020-10-02 00:00:00'),
 Timestamp('2020-10-08 00:00:00'),
 Timestamp('2020-10-14 00:00:00')]

In [10]:
traffic_raw_count.groupby('count_point_id').all_motor_vehicles.mean()

count_point_id
6401      377.375000
7046      425.000000
7097      490.500000
7617      857.291667
7841      726.916667
             ...
946809      5.576389
946813     75.750000
946814     14.958333
946820     21.666667
951879     10.604167
Name: all_motor_vehicles, Length: 158, dtype: float64

In [11]:
traffic_raw_count.groupby('count_date')['all_motor_vehicles'].sum()

count_date
2014-05-02    1608
2014-05-06     808
2014-05-07    7222
2014-05-08    4684
2014-05-12     408
              ...
2020-09-23    1139
2020-09-25    8056
2020-10-02     106
2020-10-08    1492
2020-10-14    8108
Name: all_motor_vehicles, Length: 319, dtype: int64

In [35]:
traffic_raw_count.groupby('year').all_motor_vehicles.sum()

year
2014     645933
2015     489827
2016     387306
2017    1018399
2018     493589
2019     638939
2020     542855
Name: all_motor_vehicles, dtype: int64

In [34]:
traffic_raw_count

,count_point_id,direction_of_travel,year,count_date,hour,region_id,region_name,local_authority_id,local_authority_name,road_name,road_type,start_junction_road_name,end_junction_road_name,easting,northing,latitude,longitude,link_length_km,link_length_miles,pedal_cycles,two_wheeled_motor_vehicles,cars_and_taxis,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
0,946787,N,2014,2014-05-02,7,1,South West,144,"Bristol, City of",U,Minor,NaN,NaN,357980,168133,51.410654,-2.605557,NaN,NaN,2,0,9,0,2,0,0,0,0,0,0,0,11
1,946787,N,2014,2014-05-02,8,1,South West,144,"Bristol, City of",U,Minor,NaN,NaN,357980,168133,51.410654,-2.605557,NaN,NaN,1,0,15,0,2,0,0,0,0,0,0,0,17
2,946787,N,2014,2014-05-02,9,1,South West,144,"Bristol, City of",U,Minor,NaN,NaN,357980,168133,51.410654,-2.605557,NaN,NaN,0,0,21,0,0,0,0,0,0,0,0,0,21
3,946787,N,2014,2014-05-02,10,1,South West,144,"Bristol, City of",U,Minor,NaN,NaN,357980,168133,51.410654,-2.605557,NaN,NaN,0,0,13,0,1,0,0,0,0,0,0,0,14
4,946787,N,2014,2014-05-02,11,1,South West,144,"Bristol, City of",U,Minor,NaN,NaN,357980,168133,51.410654,-2.605557,NaN,NaN,1,0,17,0,1,1,0,0,0,0,0,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9079,801247,N,2020,2020-10-14,14,1,South West,144,"Bristol, City of",C,Minor,NaN,NaN,356929,168026,51.409611,-2.620655,NaN,NaN,2,1,266,0,71,3,1,0,0,0,0,4,342
9080,801247,N,2020,2020-10-14,15,1,South West,144,"Bristol, City of",C,Minor,NaN,NaN,356929,168026,51.409611,-2.620655,NaN,NaN,1,1,325,1,77,2,1,0,0,0,0,3,407
9081,801247,N,2020,2020-10-14,16,1,South West,144,"Bristol, City of",C,Minor,NaN,NaN,356929,168026,51.409611,-2.620655,NaN,NaN,3,1,268,0,8,4,0,0,0,0,0,4,281
9082,801247,N,2020,2020-10-14,17,1,South West,144,"Bristol, City of",C,Minor,NaN,NaN,356929,168026,51.409611,-2.620655,NaN,NaN,1,2,296,0,73,1,0,0,0,0,0,1,372
9083,801247,N,2020,2020-10-14,18,1,South West,144,"Bristol, City of",C,Minor,NaN,NaN,356929,168026,51.409611,-2.620655,NaN,NaN,5,0,235,0,52,0,0,0,0,0,0,0,287

In [12]:
traffic_raw_count.apply(lambda x: traffic_raw_count.loc[(traffic_raw_count.count_date >='2014-05-01') & (traffic_raw_count.count_date <= '2014-12-31'), 'count_date'].sum(), axis=1)

TypeError: cannot perform sum with type datetime64[ns]