In [1]:
import numpy as np
import pandas as pd

In [2]:
traffic_data=pd.read_csv("traffic_count_data_scoot.csv")

In [3]:
pollutant_data=pd.read_csv("bristol_air_quality_continous.csv")

/var/folders/42/rtkqms5s6pqfvrgw4kbk4q200000gn/T/ipykernel_4419/4253908473.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  pollutant_data=pd.read_csv("bristol_air_quality_continous.csv")

In [4]:
weather_data=pd.read_csv("meteorological_data_bristol_lulsgate_airport.csv")

In [5]:
traffic_data.drop(columns='Unnamed: 0',inplace=True)

In [6]:
traffic_data_filtered=traffic_data[traffic_data['count_device_id'].isin(['107', '105', '216', '108','101','100','98','82','84','85','86','94','96','97','221','219', '222', '216','130','131','133','137'])]

### Cleaning Pollutant Data:

In [7]:
pollutant_data_filtered=pollutant_data[pollutant_data['site_id']==500]

In [8]:
pollutant_data_filtered.columns

Index(['datetime', 'nox', 'no2', 'no', 'site_id', 'pm10', 'nvpm10', 'vpm10',
       'nvpm25', 'pm25', 'vpm25', 'co', 'o3', 'so2', 'tempt',
       'relative_humidity', 'location', 'site_start_date', 'site_end_date',
       'is_active', 'instrument_type', 'latitude', 'longitude', 'year'],
      dtype='object')

In [9]:
pollutant_data_filtered_relevant_cols=pollutant_data_filtered[['datetime','no2','year']]

In [10]:
pollutant_data_filtered_relevant_cols.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41663 entries, 516433 to 804229
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  41663 non-null  object
 1   no2       41276 non-null  float64
 2   year      41663 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ MB

In [11]:
pollutant_data_filtered_relevant_cols=pollutant_data_filtered_relevant_cols[pollutant_data_filtered_relevant_cols['year'].isin(['2020','2021'])]

In [12]:
pollutant_data_filtered_relevant_cols.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  0 non-null      object
 1   no2       0 non-null      float64
 2   year      0 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 0.0+ bytes

In [13]:
pollutant_data_filtered_relevant_cols.dropna(subset=['no2'],inplace=True)

In [14]:
pollutant_data_filtered_relevant_cols.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  0 non-null      object
 1   no2       0 non-null      float64
 2   year      0 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 0.0+ bytes

### Final Pollutant Data:

In [15]:
pollutant_data_final=pollutant_data_filtered_relevant_cols

In [16]:
pollutant_data_final['datetime']= pd.to_datetime(pollutant_data_final['datetime'])

In [17]:
pollutant_data_final.head(1)

Empty DataFrame
Columns: [datetime, no2, year]
Index: []

In [18]:
pollutant_data_final['month']=pollutant_data_final['datetime'].dt.month
pollutant_data_final['day']=pollutant_data_final['datetime'].dt.day
pollutant_data_final['hour']=pollutant_data_final['datetime'].dt.hour

In [19]:
pollutant_data_final=pollutant_data_final[['year','month','day','hour','no2']]

In [20]:
pollutant_data_final.sort_values(['year','month','day','hour'], ascending=True,inplace=True)

/var/folders/42/rtkqms5s6pqfvrgw4kbk4q200000gn/T/ipykernel_4419/4186494572.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pollutant_data_final.sort_values(['year','month','day','hour'], ascending=True,inplace=True)

In [21]:
pollutant_data_final.reset_index(inplace=True)
pollutant_data_final.drop(columns='index',inplace=True)

/var/folders/42/rtkqms5s6pqfvrgw4kbk4q200000gn/T/ipykernel_4419/1005982740.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pollutant_data_final.drop(columns='index',inplace=True)

In [22]:
pollutant_data_final

Empty DataFrame
Columns: [year, month, day, hour, no2]
Index: []

### Cleaning Weather Data:

In [23]:
weather_data['datetime']=pd.to_datetime(weather_data['datetime'])

In [24]:
weather_data.iloc[0]['datetime']

Timestamp('2022-02-14 23:50:00+0000', tz='UTC')

In [25]:
weather_data.iloc[0]['datetime'].minute

50

In [26]:
weather_data['year']=weather_data['datetime'].dt.year

In [27]:
weather_data_filtered=weather_data[weather_data['year'].isin(['2020','2021'])]

In [28]:
weather_data_filtered_relevant_cols=weather_data_filtered[['datetime','year','tempt','dewpoint_tempt','wind_speed','wind_dir','atm_pressure','visibility','wind_chill_tempt','relative_humidity']]

In [29]:
weather_data_filtered_relevant_cols['month']=weather_data['datetime'].dt.month
weather_data_filtered_relevant_cols['day']=weather_data['datetime'].dt.day
weather_data_filtered_relevant_cols['hour']=weather_data['datetime'].dt.hour
weather_data_filtered_relevant_cols['minute']=weather_data['datetime'].dt.minute

/var/folders/42/rtkqms5s6pqfvrgw4kbk4q200000gn/T/ipykernel_4419/935318774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_data_filtered_relevant_cols['month']=weather_data['datetime'].dt.month
/var/folders/42/rtkqms5s6pqfvrgw4kbk4q200000gn/T/ipykernel_4419/935318774.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_data_filtered_relevant_cols['day']=weather_data['datetime'].dt.day
/var/folders/42/rtkqms5s6pqfvrgw4kbk4q200000gn/T/ipykernel_4419/935318774.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_data_filtered_relevant_cols['hour']=weather_data['datetime'].dt.hour
/var/folders/42/rtkqms5s6pqfvrgw4kbk4q200000gn/T/ipykernel_4419/935318774.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_data_filtered_relevant_cols['minute']=weather_data['datetime'].dt.minute

In [30]:
weather_data_filtered_relevant_cols=weather_data_filtered_relevant_cols[['datetime','year','month','day','hour','minute','tempt','dewpoint_tempt','wind_speed','wind_dir','atm_pressure','visibility','wind_chill_tempt','relative_humidity']]

In [31]:
weather_data_filtered_relevant_cols.sort_values(['year','month','day','hour','minute'], ascending=True,inplace=True)

In [32]:
weather_data_filtered_relevant_cols.iloc[0]['datetime']

NaT

In [33]:
weather_data_filtered_relevant_cols_time_adjusted=weather_data_filtered_relevant_cols.groupby(['year','month','day','hour'])['tempt','dewpoint_tempt','wind_speed','wind_dir','atm_pressure','visibility','wind_chill_tempt','relative_humidity'].mean().reset_index()

/var/folders/42/rtkqms5s6pqfvrgw4kbk4q200000gn/T/ipykernel_4419/2538459189.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weather_data_filtered_relevant_cols_time_adjusted=weather_data_filtered_relevant_cols.groupby(['year','month','day','hour'])['tempt','dewpoint_tempt','wind_speed','wind_dir','atm_pressure','visibility','wind_chill_tempt','relative_humidity'].mean().reset_index()

### Final Weather Data:

In [34]:
weather_data_final=weather_data_filtered_relevant_cols_time_adjusted

In [35]:
weather_data_final.reset_index(inplace=True)
weather_data_final.drop(columns='index',inplace=True)

In [36]:
weather_data_final

Empty DataFrame
Columns: [year, month, day, hour, tempt, dewpoint_tempt, wind_speed, wind_dir, atm_pressure, visibility, wind_chill_tempt, relative_humidity]
Index: []

### Cleaning Traffic Data :

In [37]:
traffic_data_filtered

Empty DataFrame
Columns: [count_device_id, date_time, hourly_flow, hourly_profile, description, full_name, geo_point_2d, link, link_direction_lane, junction, latitude, longitude]
Index: []

In [38]:
traffic_data_filtered_time_adjusted=traffic_data_filtered.copy()

In [39]:
traffic_data_filtered

Empty DataFrame
Columns: [count_device_id, date_time, hourly_flow, hourly_profile, description, full_name, geo_point_2d, link, link_direction_lane, junction, latitude, longitude]
Index: []

In [40]:
traffic_data_filtered_time_adjusted['date_time']=pd.to_datetime(traffic_data_filtered['date_time'],utc=True)

In [41]:
traffic_data_filtered_time_adjusted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   count_device_id      0 non-null      int64
 1   date_time            0 non-null      datetime64[ns, UTC]
 2   hourly_flow          0 non-null      int64
 3   hourly_profile       0 non-null      int64
 4   description          0 non-null      object
 5   full_name            0 non-null      object
 6   geo_point_2d         0 non-null      object
 7   link                 0 non-null      object
 8   link_direction_lane  0 non-null      object
 9   junction             0 non-null      object
 10  latitude             0 non-null      float64
 11  longitude            0 non-null      float64
dtypes: datetime64[ns, UTC](1), float64(2), int64(3), object(6)
memory usage: 0.0+ bytes

In [42]:
traffic_data_filtered_time_adjusted_relevant_cols=traffic_data_filtered_time_adjusted[['count_device_id','date_time','hourly_flow','hourly_profile','description']]

In [43]:
traffic_data_filtered_time_adjusted_relevant_cols['month']=traffic_data_filtered_time_adjusted_relevant_cols['date_time'].dt.month
traffic_data_filtered_time_adjusted_relevant_cols['day']=traffic_data_filtered_time_adjusted_relevant_cols['date_time'].dt.day
traffic_data_filtered_time_adjusted_relevant_cols['hour']=traffic_data_filtered_time_adjusted_relevant_cols['date_time'].dt.hour

In [44]:
traffic_data_filtered_time_adjusted_relevant_cols['year']=traffic_data_filtered_time_adjusted_relevant_cols['date_time'].dt.year

In [45]:
traffic_data_filtered_time_adjusted_relevant_cols=traffic_data_filtered_time_adjusted_relevant_cols[traffic_data_filtered_time_adjusted_relevant_cols['year'].isin(['2020','2021'])]

In [46]:
traffic_data_filtered_time_adjusted_relevant_cols_columns_order_adjusted=traffic_data_filtered_time_adjusted_relevant_cols[['count_device_id','date_time','year','month','day','hour','description','hourly_flow','hourly_profile']]

In [47]:
traffic_data_filtered_time_adjusted_relevant_cols_columns_order_adjusted

Empty DataFrame
Columns: [count_device_id, date_time, year, month, day, hour, description, hourly_flow, hourly_profile]
Index: []

In [48]:
traffic_data_filtered_time_adjusted_relevant_cols_columns_order_adjusted.sort_values(['year','month','day','hour'], ascending=True,inplace=True)

In [49]:
traffic_data_filtered_time_adjusted_relevant_cols_columns_order_adjusted

Empty DataFrame
Columns: [count_device_id, date_time, year, month, day, hour, description, hourly_flow, hourly_profile]
Index: []

In [50]:
traffic_data_final=traffic_data_filtered_time_adjusted_relevant_cols_columns_order_adjusted.set_index(['date_time']).pivot(columns="count_device_id", values="hourly_flow")

In [51]:
traffic_data_final.reset_index(inplace=True)

In [52]:
traffic_data_final.index.names = ['index']

In [53]:
traffic_data_final

Empty DataFrame
Columns: [date_time]
Index: []

In [54]:
traffic_data_final['year']=traffic_data_final['date_time'].dt.year
traffic_data_final['month']=traffic_data_final['date_time'].dt.month
traffic_data_final['day']=traffic_data_final['date_time'].dt.day
traffic_data_final['hour']=traffic_data_final['date_time'].dt.hour

In [55]:
traffic_data_final.columns

Index(['date_time', 'year', 'month', 'day', 'hour'], dtype='object', name='count_device_id')

In [56]:
traffic_data_final=traffic_data_final[['year','month','day','hour',82,84,85,86,94,96,97,98,100,101,105,107,108,130,131,133,137,216,219,221,222]]

KeyError: '[82, 84, 85, 86, 94, 96, 97, 98, 100, 101, 105, 107, 108, 130, 131, 133, 137, 216, 219, 221, 222] not in index'

### Final Traffic Data:

In [ ]:
traffic_data_final

### Merging Pollutant, Weather and Traffic Data:

In [ ]:
data=pd.merge(pd.merge(pollutant_data_final,weather_data_final,on=['year','month','day','hour']),traffic_data_final,on=['year','month','day','hour'])

In [ ]:
data

### Machine Learning:

In [ ]:
import matplotlib.pyplot as plt # for plotting 
import seaborn as sn #for plotting

In [ ]:
plt.figure(figsize=(10,5))
ax=sn.barplot(x='hour',y='no2',hue='year',data=data).set(title='NO2 Concentration vs Hour (For each Year)')

In [ ]:
plt.figure(figsize=(10,5))
ax=sn.barplot(x='month',y='no2',hue='year',data=data).set(title='NO2 vs Month (For Each Year)')

In [ ]:
plt.figure(figsize=(10,5))
ax=sn.barplot(x='day',y='no2',hue='year',data=data).set(title='NO2 vs Day (For Each Year)')

In [ ]:
# weekday and weekend plot

In [ ]:
corrmatrix = data.corr()

fig, ax = plt.subplots(figsize=(10,6)) # Sample figsize in inches
sn.heatmap(corrmatrix, linewidths=.5, ax=ax,cmap="BuPu",fmt='.2f')
plt.show()

In [ ]:
plt.figure(figsize=(10,10))
heatmap = sn.heatmap(corrmatrix[['no2']].sort_values(by='no2', ascending=False), vmin=-1, vmax=1, annot=True, cmap='BrBG')
heatmap.set_title('Features/Attributes Correlation with NO2', fontdict={'fontsize':18}, pad=16);

In [ ]:
data.dropna(inplace=True)

In [ ]:
y=data['no2']
X=data.drop(columns='no2')

In [ ]:
# importing train_test_split from sklearn for splitting the data into train and test sets
from sklearn.model_selection import train_test_split
# Using train_test_split to randomly split the data into 80 percent train data and 20 percent test set (which we will test on at the end when we have finalized the model and tuned the hyperparameters)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=1) # setting seed for reproducability

### Linear Regression Model:

In [ ]:
#Creating the Linear Regression model
from sklearn.linear_model import LinearRegression
lr_model=LinearRegression()

In [ ]:
lr_model.fit(X_train,y_train)

In [ ]:
test_pred=lr_model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score,accuracy_score

In [ ]:
print('MAE Linear Regression Model (Test):', mean_absolute_error(y_test,test_pred))

In [ ]:
print('RMSE Linear Regression (Test):',mean_squared_error(y_test,test_pred,squared=False))

In [ ]:
print('R2 Linear Regression:(Test)', r2_score(y_test,test_pred))

### Random Forrest Regressor Model:

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rf_model =RandomForestRegressor(random_state=5,n_estimators=600)

In [ ]:
rf_model.fit(X_train,y_train)

In [ ]:
test_pred_rf=rf_model.predict(X_test)

In [ ]:
print('MAE Random Forest Model (Test):', mean_absolute_error(y_test,test_pred_rf))
print('RMSE Random Forest (Test):',mean_squared_error(y_test,test_pred_rf,squared=False))
print('R2 Random Forest:(Test)', r2_score(y_test,test_pred_rf))

In [ ]:
import shap

In [ ]:
shap_values = shap.TreeExplainer(rf_model).shap_values(X_train,approximate=True)

In [ ]:
shap.summary_plot(shap_values, X_train, plot_type="bar")

In [ ]:
shap.summary_plot(shap_values, X_train)

In [ ]:
# from sklearn.model_selection import cross_val_score
# rf_model_cv =RandomForestRegressor(random_state=5)
# print('MAE (Random Forest Regressor):',-1*cross_val_score(rf_model_cv, X_train, y_train, scoring='neg_mean_absolute_error', cv=5).mean())
# print('MSE (Random Forest Regressor):',-1*cross_val_score(rf_model_cv, X_train, y_train, scoring='neg_mean_squared_error', cv=5).mean())
# print('RMSE (Random Forest Regressor):',-1*cross_val_score(rf_model_cv, X_train, y_train, scoring='neg_root_mean_squared_error', cv=5).mean())
# print('R2 (Random Forest Regressor)',cross_val_score(rf_model_cv, X_train, y_train, scoring='r2', cv=5).mean())

### XBG Model:

In [ ]:
from xgboost import XGBRegressor
#xgb_model = XGBRegressor(n_estimators=1000, learning_rate=0.05, n_jobs=4)
xgb_model = XGBRegressor()
xgb_model.fit(X_train, y_train,
 early_stopping_rounds=5,
 eval_set=[(X_test, y_test)],
 verbose=False)
test_pred_xgb=xgb_model.predict(X_test)

In [ ]:
print('MAE XGB Model (Test):', mean_absolute_error(y_test,test_pred_xgb))
print('RMSE XGB Forest (Test):',mean_squared_error(y_test,test_pred_xgb,squared=False))
print('R2 XGB Forest:(Test)', r2_score(y_test,test_pred_xgb))